---
title: Chapter 1 Quiz
---

<div class="s-widget fullbleed">
  <section>
    <div class="text text-large">
      <p>Pods can be in various stages of development on the same plant: True or False?</p>
    </div>
    <div class="answers">
      <a href="#" class="button">True</a>
      <a href="#" class="button">False</a>
    </div>
  </section>
  <nav class="nav-dots">
    <a href="#" class="nav-dots_dot">1</a>
    <a href="#" class="nav-dots_dot active">2</a>
    <a href="#" class="nav-dots_dot">3</a>
    <a href="#" class="nav-dots_dot">4</a>
    <a href="#" class="nav-dots_dot">5</a>
  </nav>
</div>

